/* Styles go here */
* {
  margin: 0;
  padding: 0;
}

body {

}

hr.inset {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

img {
  width: 700px;
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
}

p {
  margin: 30px auto;
}

.subtitle {
  margin-top:50px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 5px;
}

.quote {
  margin-top:5px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 50px;
  font-size: 1.4em;
  font-style: italic;
}

#title {
  margin-top: 30px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 5px;
}

#wrapper {
  margin: auto;
}

#description {
  margin-top:5px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 50px;
  font-size: 1.4em;
  font-style: italic;
}

#img-caption {
  width: 90%;
  margin: 5px auto 0px auto;
  text-align: center;
}

#tribute-info {
  width: 90%;
  margin: auto;
}

#tribute-info p {
  font-size: 1.1em;
}

#list {
  width: 90%;
  margin: auto;
  padding-left: 30px;
}

#readmore {
  margin-left: 24px;
  margin-bottom: 50px;
  text-align: left;
  font-size: 1.2em;
}

#footer {
  margin-right: 24px;
  text-align: right;
}

#punta {
    height: 10px;
    width: 10px;
    background-color: #EC1F43;
    border-radius: 50%;
    display: inline-block;
}

@media only screen and (min-width: 768px) {

  .quote {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .subtitle {
    margin-left: auto;
  }

  #title {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  #description {
    margin-left: auto;
    margin-right: auto;
  }

  #readmore {
    margin-left: 0px;
    text-align: left;
    font-size: 1.2em;
  }

  #wrapper {
    width: 700px;
  }

  #footer {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
}
